table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 20%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
th{
	font-family: courier;
	font-size: 30px;
	text-align: center;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

/* 
CSS for Form submit 
*/
input[type=submit] {
  width: 100%;
  background-color: #ABB7B7;
  color: white;
  padding: 12px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}
button {
	background-color:#ABB7B7; 
	color: #fff;
	margin-top: 5px;
	padding: 10px 20px;
	width: 10%;
	border-radius: 4px;
}
button:hover{
	background-color:#45a049;
}
/*
input[type=text]{
	padding: 5px;
	border-radius: 20px;
}
*/
input[type=text]{
width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}