table{
  font-family: courier;
  border-collapse: collapse;
  margin-top: 200px;
  width: 20%;
}

th{
  background-color: #fff;
  font-family: courier;
}

input[type=submit]{
  font-family: courier;
  background-color:#64991e;
  width: 100%;
  padding: 15px;
  border-radius: 10px;

}
input[type=submit]:hover{
  background-color: #507a18;
}

input[type=text]{
  font-family: courier;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;

}
a{
  text-decoration:  none;
  color: blue;
}